/*Primaru Header*/

h1{
	font-family: 'Lobster', cursive;
	color: #FA3E3E;

}

/*Body Copy*/

p{
	font-family: 'Playball', cursive;
	font-size: 32px;
	color: #ccc;

}

/*Baseline Links*/

a:link,
a:visited {
	border-bottom: dashed orange 2px ;
	text-transform: uppercase;
	text-decoration: none;


}

a:hover{
	background: red;


}


/* Set Your Own Margin & Padding */
h2, h3, p {
	margin: 0;
}

/* Layout for Style Tile*/
section {
	margin: 20px 0;
}

.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}

.color-1{
	background: #FA3E3E;

}

.color-2{
	background: #f8f8d6;
}

.color-3{
	background: #FCF8C2;
}


.pattern-1{
	background: url("../img/footer_lodyas.png") 
}
.pattern-2{
	background: url("../img/logo_x_pattern.png") 
}

.pattern-3{
	background: url("../img/restaurant.png") 
}




/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}